.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 12px;
    border: 1px solid #cdcdcd;

    width: 100%;
    max-width: 500px;
    height: fit-content;

    align-items: center;

    padding: 20px 30px;
}